h1 {
    color: var(--font-color-text);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--highlight-color);
    font-size: 3.5rem;
    text-align: center;
    margin: 5vh 0 10vh 0;
}

main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;

}

section {
   display: flex;
   flex-direction: column;
   width: 40%;
   height: 85%;
   border: 0.5rem solid var(--highlight-color);
   border-radius: 2rem;
}

textarea {
    height: 70%;
    background-color: var(--font-color-text);
    color: var(--primary-background-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    font-family: var(--font-name);
    font-size: 1.8rem;
    resize: none;
}

textarea::placeholder {
    color: var(--primary-background-color); 
    font-family: var(--font-name); 
}

.warning-message-area {
    display: flex;
    margin: 0 1.5rem 0 1.5rem;
    align-items: center;
    gap: 1rem;
    color: var(--font-color-text);
    font-family: var(--font-name);
    font-size: 1.4rem;
}

.warning-icon {
    width: 2.5rem;
}

.buttons-area {
    display: flex;
    justify-content: center;
}

button {
    margin: 2rem;
    width: 50%;
    background-color: var(--highlight-color);
    color: var(--primary-background-color);
    font-family: var(--font-name);
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 0rem;
    border-radius: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--font-color-text);
    border: 0.4rem solid var(--highlight-color);
    margin: 1.5rem 2rem 1.5rem 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    width: 100%;
    background-color: var(--highlight-color);
    color: var(--primary-background-color);
    padding: 2.4rem;
    text-align: center;
    font-family: var(--text-font);
    font-size: 1.8rem;
    font-weight: 400;
}

footer a:visited {
    color: var(--primary-background-color);
}

@media (max-width:  360px) {
    h1 {
        font-size: 2.4rem;
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 2rem;
    }

    /*section {
       width: 90%;
       height: 100vh;
    }*/

    .container-imput {
        width: 90%;
        height: 100vh;
    }

    .container-output {
        width: 90%;
        height: 75vh;
        margin-bottom: 5rem;
    }

    .container-output textarea {
        height: 100%;
    }

    button {
        font-size: 1.3rem;
        padding: 1rem;
        margin: 1rem;
    }

    button:hover {
        margin: 0;
        padding: 0;
        border: none;
        margin: 1rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        height: 20vh;
        gap: 1rem;
        
    }

}